[submodule "externals/pmp-library"]
	path = externals/pmp-library
	url = https://github.com/pmp-library/pmp-library.git
[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
